section {
  min-width: 100%;
  min-height: 100%;
}

.game-grid-container {
  display: grid;
  grid-template-columns: 5% 20% 5% 20% 5% 20% 5% 20%;
  grid-template-rows: 5% 20% 5% 20% 5% 20% 5% 20%;
  width: 500px;
  height: 500px;
  margin: 100px auto;
}

.dot {
  width: 10px;
  height: 10px;

  border-radius: 50px;
  margin: auto;
  background-color: rgb(83, 81, 81);
}

.line-horizontal {
  height: 5px;
  background-color: lightgray;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
}

.line-vertical {
  height: 100%;
  width: 5px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
}

.bg-red,
.hover-red:hover {
  background-color: rgb(255, 100, 131);
}

.bg-blue,
.hover-blue:hover {
  background-color: rgb(136, 136, 253);
}

.box {
  width: 100%;
}
